affine==2.3.0
appdirs==1.4.4
asciitree==0.3.3
attrs==21.2.0
beautifulsoup4==4.10.0
black==21.10b0
bokeh==2.4.1
boto3==1.19.7
botocore==1.22.7
Bottleneck==1.3.2
certifi==2021.10.8
cffi==1.15.0
cfgrib==0.9.9.1
cftime==1.5.1.1
charset-normalizer==2.0.7
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cycler==0.11.0
dask==2021.10.0
distributed==2021.10.0
docopt==0.6.2
eccodes==1.3.3
fasteners==0.16.3
findlibs==0.0.2
fsspec==2021.10.1
h5netcdf==0.11.0
h5py==3.5.0
HeapDict==1.0.1
idna==3.3
Jinja2==3.0.2
jmespath==0.10.0
kiwisolver==1.3.2
llvmlite==0.37.0
locket==0.2.1
MarkupSafe==2.0.1
matplotlib==3.4.3
msgpack==1.0.2
mypy-extensions==0.4.3
nc-time-axis==1.4.0
netCDF4==1.5.8
numba==0.54.1
numbagg==0.2.1
numcodecs==0.9.1
numpy==1.20.3
packaging==21.2
pandas==1.3.4
partd==1.2.0
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
pooch==1.5.2
psutil==5.8.0
pycparser==2.20
Pydap==3.2.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
rasterio==1.2.10
regex==2021.10.23
requests==2.26.0
s3transfer==0.5.0
scipy==1.7.1
seaborn==0.11.2
six==1.16.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.2.1
tblib==1.7.0
tomli==1.2.2
toolz==0.11.1
tornado==6.1
typing-extensions==3.10.0.2
urllib3==1.26.7
WebOb==1.8.7
xarray==0.19.0
zarr==2.10.2
zict==2.0.0
